body{
  font-family: 'Poppins', thin italic;

}

.word-box{
  font-size: 70px;
  margin: 20px
  display:inline;
}

h1{
  font-size: 80px;
}

#header{
  background-color: rgb(140, 193, 203);
}

#results{
  font-size: 70px;
}


#sentence{
  position: relative;
  display: block;
  width:90%;
  /* height:500px; */
  height:400px;
}

#word-heard{

  position relative;
  display: block;
  width:100%;
  height:150px;
  font-size: 70px;
}
